/*--=| shared theme |=--*/
@import "./../../../theme/shared-styles.scss";

/*--= | Side Menu |=--*/

ion-split-pane {
	// border-left: red;
	
	ion-menu {
		// border-left: 0px solid red;
		ion-content.sidebar {
			--background: linear-gradient( 180deg, var(--ion-color-success-tint2), var(--ion-color-primary-shade) );
			--ion-background-color: rgba(100, 100, 100, 0);
			// --ion-background-color: var(--ion-color-secondary-tint);
			// background-color: red;
			border: 0px solid red;
		}
	}
}

.sidebar-text {
	@include fontFamilyWeightSize( $fontOpenSans, 600, 1.2em, var(--ion-color-medium-shade) );
	text-transform: uppercase;
	text-shadow: $text-light-shadow;
}
.sidebar-sub-text {
	@include fontFamilyWeightSize( $fontOpenSans, 600, 1em, var(--ion-color-light) );
	text-transform: uppercase;
	padding-left: 10px;
	text-shadow: $text-light-shadow;
}

.sidebar-icons {
	// @include fontFamilyWeightSize( $fontOpenSans, 600, 1.2em, var(--ion-color-light-shade) );
	// text-transform: uppercase;
	color: var(--ion-color-warning-tint);
	text-shadow: $text-light-shadow;
}
.logo-section {
	display: flex;
	margin-top: 50%;
	width: 100%;
	justify-content: center;
	border: 0px solid aliceblue;
}
.logo-section__title {
	// top: 130px;
	@include fontFamilyWeightSize( $fontMerriweather, 300, 1.2em, var(--ion-color-light) );
	border: 0px solid aliceblue;
}
